source /boot/grub/config.cfg

menuentry "ARES OS - Live efimero" --hotkey=l {
    linux @KERNEL_LIVE@ @APPEND_LIVE@ ares.mode=live ares.retention=ephemeral
    initrd @INITRD_LIVE@
}

menuentry "ARES OS - Persistencia cifrada" --hotkey=p {
    linux @KERNEL_LIVE@ @APPEND_LIVE@ ares.mode=recovery ares.retention=persistent
    initrd @INITRD_LIVE@
}

menuentry "ARES OS - Forense solo lectura" --hotkey=f {
    linux @KERNEL_LIVE@ @APPEND_LIVE@ ares.mode=forensic ares.retention=ephemeral ares.network=off
    initrd @INITRD_LIVE@
}

menuentry "ARES OS - Recuperacion" --hotkey=r {
    linux @KERNEL_LIVE@ @APPEND_LIVE@ ares.mode=recovery ares.retention=ephemeral
    initrd @INITRD_LIVE@
}

menuentry "ARES OS - Graficos seguros" --hotkey=s {
    linux @KERNEL_LIVE@ @LB_BOOTAPPEND_LIVE_FAILSAFE@ ares.mode=recovery ares.retention=ephemeral nomodeset
    initrd @INITRD_LIVE@
}

submenu "Utilidades" --hotkey=u {
    source /boot/grub/theme.cfg

    if [ "${grub_platform}" = "efi" ]; then
        menuentry "Configuracion de firmware UEFI" --hotkey=e {
            fwsetup
        }
    fi

    if @ENABLE_VERIFY_CHECKSUMS@; then
        menuentry "Verificar integridad del medio" --hotkey=v {
            linux @KERNEL_LIVE@ @APPEND_VERIFY_CHECKSUMS@
            initrd @INITRD_LIVE@
        }
    fi
}
